<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
      li.fav {
        background-color: blueviolet;
      }
    </style>
  </head>
  <body>
    <h1>Hello vue</h1>
    <div id="app">
      <a :href="href">Face book</a>
      <div v-if="showbooks">
        <ul>
          <li v-for="book in books" :class="{fav: book.isFav}">
            <h3>{{book.title}}</h3>
            <p>{{book.author}}</p>
          </li>
        </ul>
      </div>
      <button @click="showBooks">
        <span v-if="showbooks">hide book</span>
        <span v-else>show book</span>
      </button>
      <br />
      <div class="box" @mouseover="handleMouse($event,5)">mouseover</div>
      <div class="box" @mouseleave="handleMouse">mouseleave</div>
      <div class="box" @dblclick="handleMouse">double click</div>
      <div class="box" @mousemove="handleMousemove">Position - {{x}} {{y}}</div>
    </div>
    <script src="./app.js"></script>
  </body>
</html>
